{% extends 'base.html.twig' %}
{% block body %}
    <h1>Фильтр</h1>
    <form>
        <ul>
            <input type="text" id="filter_user" name="filter"  maxlength="255">
        </ul>
        <input type="submit" />
    </form>

    <h1>Юзеры</h1>

    <table>
        {% for users in users %}
            <tr>
                <td>{{ users.firstName }}</td>
                <td>{{ users.lastName }}</td>
                <td>
                </td>
                <td>{{ users.actual }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
